#### Can we recoginze the gender by the character's  speech?

In [1]:
import os
import os.path
import shutil
import numpy as np
import pandas as pd
import random
import pickle
import string

from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold

import matplotlib.pyplot as plt
%matplotlib inline

Prepare labels (male / female)  
[Female characters are taken from this source](http://www.shakespeareswords.com/Special-Features-Female-Characters)

In [2]:
female_characters_df = pd.read_csv("female_characters.csv")
female_characters_df.character = female_characters_df.character.str.lower()

In [3]:
female_characters_df.sample(n= 10)

                character                 play_name  gender  replics
85                lavinia          Titus Andronicus  Female       59
114                 alice                   Henry V  Female       28
106               octavia      Antony and Cleopatra  Female       36
105             cassandra      Troilus and Cressida  Female       37
63                   bawd  Pericles, Prince of Tyre  Female      104
132    lady faulconbridge                 King John  Female       15
151   lady northumberland                  Henry IV  Female        5
20                  celia            As You Like It  Female      282
171            first lady                 Cymbeline  Female        1
154  phrynia and timandra           Timon of Athens  Female        4

In [4]:
with open('shakespeare_plays.pickle', 'rb') as handle:
    speeches = pickle.load(handle)

In [5]:
speeches_df = pd.DataFrame(speeches)
speeches_df.speaker = speeches_df.speaker.str.lower()

Every record is a single speech from one of the plays.

In [6]:
speeches_df.sample(n = 10)

,act,genre,play_name,scene,scene_name,speaker,speech_number,speech_text
26924,4,Tragedy,Titus Andronicus,3,The same. A public place.,publius,3,"Therefore, my lord, it highly us concerns\nBy ..."
7274,5,Comedy,A Midsummer Night's Dream,1,Athens. The palace of THESEUS.,theseus,55,If we imagine no worse of them than they of\nt...
9055,1,Comedy,Taming of the Shrew,1,Padua. A public place.,lucentio,41,"Tranio, I saw her coral lips to move\nAnd with..."
25902,1,Tragedy,Timon of Athens,1,Athens. A hall in Timon's house.,second lord,146,"Away, unpeaceable dog, or I'll spurn thee hence!"
9435,4,Comedy,Taming of the Shrew,1,PETRUCHIO'S country house.,curtis,18,How?
239,2,Comedy,All's Well That Ends Well,3,Paris. The KING's palace.,parolles,5,So I say.
19277,2,Tragedy,Coriolanus,1,Rome. A public place.,sicinius,79,He cannot temperately transport his honours\nF...
23162,1,Tragedy,Macbeth,3,A heath near Forres.,banquo,50,Very gladly.
15884,3,History,King John,4,The same. KING PHILIP'S tent.,cardinal pandulph,31,How green you are and fresh in this old world!...
20084,1,Tragedy,Hamlet,1,Elsinore. A platform before the castle.,marcellus,18,Holla! Bernardo!

In [7]:
our_names = set(speeches_df.play_name)
print(our_names)

{"Love's Labours Lost", 'Henry VIII', 'Hamlet', 'Coriolanus', 'Julius Caesar', 'Cymbeline', 'King John', 'Antony and Cleopatra', "A Midsummer Night's Dream", 'Twelfth Night', 'Richard III', 'Macbeth', 'Henry V', 'The Merchant of Venice', 'Troilus and Cressida', 'As You Like It', 'Measure for Measure', "All's Well That Ends Well", 'TheMerry Wives of Windsor', 'Titus Andronicus', 'Two Gentlemen of Verona', 'Pericles, Prince of Tyre', 'The Comedy of Errors', 'The Tempest', 'Romeo and Juliet', 'Othello', 'King Lear', 'Much Ado About Nothing', 'Richard II', "Winter's Tale", 'Taming of the Shrew', 'Timon of Athens'}

In [8]:
their_names = set(female_characters_df.play_name.unique())

In [9]:
print(their_names)

{"Love's Labours Lost", 'Henry VIII', 'Hamlet', 'Coriolanus', 'Julius Caesar', 'Cymbeline', 'King John', 'Henry IV', 'Antony and Cleopatra', "A Midsummer Night's Dream", 'Twelfth Night', 'Richard III', 'Macbeth', 'Henry V', 'The Merchant of Venice', 'Troilus and Cressida', 'As You Like It', 'Measure for Measure', "All's Well That Ends Well", 'TheMerry Wives of Windsor', 'Titus Andronicus', 'King Edward III', 'Two Gentlemen of Verona', 'The Comedy of Errors', 'Pericles, Prince of Tyre', 'The Tempest', 'Romeo and Juliet', 'Othello', 'Henry VI', 'King Lear', 'Much Ado About Nothing', 'Richard II', "Winter's Tale", 'Taming of the Shrew', 'Timon of Athens', 'The Two Noble Kinsmen'}

Check the differences

In [10]:
print(our_names - their_names)

set()

In [11]:
print(their_names - our_names)

{'The Two Noble Kinsmen', 'Henry VI', 'King Edward III', 'Henry IV'}

It looks like the differences are only plays Shakespeare co-authored so looks OK.

In [12]:
our_speakers = set(speeches_df.speaker)
print('All characters \n')
print(our_speakers)

All characters

{'katharina', 'third gentleman', 'domitius enobarbus', 'sailor', 'orlando', 'katharine', 'bourbon', 'philostrate', 'parolles', 'lord willoughby', 'olivia', 'aemilius', 'helicanus', 'longaville', 'young lucius', 'escalus', 'marcus andronicus', 'duke vincentio', 'king henry v', 'herbert', 'scribe', 'third servant', 'francisca', 'horatio', 'player queen', 'maria', 'lady montague', 'pandar', 'fourth lord', 'balthazar', 'governor', 'rambures', 'anne', 'herald', 'king claudius', 'benvolio', 'casca', 'arragon', 'hortensia', 'eglamour', 'don pedro', 'ceres', 'gurney', 'dumain', 'groom', 'moonshine', 'rosaline', 'iris', 'calpurnia', 'constance', 'bassianus', 'mother', 'doctor caius', 'patience', 'grandpre', 'lavinia', 'sicilius leonatus', 'scroop', 'queen elizabeth', 'lafeu', 'cardinal wolsey', 'king henry viii', 'helena', 'petruchio', 'verges', 'lord marshal', 'grumio', 'young marcius', 'second servingman', 'frenchman', 'old lady', 'henry bolingbroke', 'cassius', 'philemon', 'autolycus', 'arviragus', 'thisbe', 'lysimachus', 'caesar', 'widow', 'second murderer', 'alcibiades', 'luce', 'ghost', 'austria', 'friar francis', 'mistress ford', 'aemelia', 'macduff', 'pistol', 'launce', 'guiderius', 'french soldier', 'tribunes', 'launcelot', 'senators', 'lorenzo', 'claudius', 'escanes', 'bassanio', 'second gentlemen', 'lucentio', 'oxford', 'nerissa', 'lady macduff', 'hortensio', 'philario', 'ajax', 'mamillius', 'sampson', 'charles', '& c', 'second musician', 'ghost of grey', 'mardian', 'apemantus', 'first captain', 'second messenger', 'bernardo', 'duke of surrey', 'sicinius', 'sir hugh evans', 'flute', 'paris', 'laertes', 'dardanius', 'girl', 'third soldier', 'old athenian', 'french king', 'rosencrantz:', 'clitus', 'time', 'of king henry vi', 'jaquenetta', 'hamlet', 'posthumus leonatus', 'ford', 'doctor', 'first gentleman', 'sly', 'doctor butts', 'denny', 'duke solinus', 'othello', 'malcolm', 'ratcliff', 'montjoy', 'montague', 'baptista', 'lychorida', 'paulina', 'brandon', 'bagot', 'elinor', 'stanley', 'fool', 'tailor', 'soothsayer', 'bishop of carlisle', 'thyreus', 'richmond', 'duke of aumerle', 'agrippa', 'second page', 'volumnius', 'players', 'virgilia', 'leonato', 'third conspirator', 'first priest', 'apothecary', 'first servant', 'painter', 'duke', 'salisbury', 'publius', 'fluellen', 'angus', 'mutius', 'snout', 'keeper', 'clown', 'iras', 'rugby', 'mustardseed', 'sebastian', 'marcellus', 'aedile', 'valentine', 'curan', 'justice', 'duke of york', 'bertram', 'mistress quickly', 'flaminius', 'guildenstern', 'seyton', 'porter', 'king edward iv', 'first attendant', 'cicero', 'second apparition', 'proteus', 'duke of venice', 'hymen', 'menelaus', 'varro', 'starveling', 'first secretary', 'aeneas', 'caliban', 'shepherd', 'ligarius', 'scarus', 'rosencrantz', 'cinna', 'gower', 'third fisherman', 'viola', 'coriolanus', 'decius brutus', 'lord fitzwater', 'courtezan', 'third guard', 'audrey', 'dercetas', 'clerk', 'slender', 'banditti', 'ursula', 'ariel', 'surrey', 'second goth', 'cassandra', 'holofernes', 'lady faulconbridge', 'second stranger', 'ghost of clarence', 'adriana', 'lincoln', 'first bandit', 'second captain', 'blanch', 'mistress page', 'saturninus', 'second roman', 'second gentleman', 'officer', 'nathaniel', 'taurus', 'roman', 'queen gertrude', 'prologue', 'servilius', 'third servingman', 'third musician', 'duchess of york', 'second soldier', 'second outlaw', 'aufidius', 'chorus', 'cobweb', 'seventh citizen', 'gardiner', 'lady macbeth', 'third apparition', 'poet', 'mopsa', 'old man', 'elbow', 'third murderer', 'all the goths', 'peaseblossom', 'fourth gentleman', 'guildenstern:', 'guard', 'boyet', 'soldiers', 'oliver', 'achilles', 'garter', 'belarius', 'all citizens', 'diana', 'miranda', 'volumnia', 'third lord', 'kent', 'celia', 'marina', 'tybalt', 'pedant', 'imogen', 'francisco', 'alexas', 'thomas mowbray', 'brabantio', 'anne page', 'first guard', 'ulysses', 'queen katharine', 'bianca', 'of prince edward', 'melun', 'third senator', 'soldier', 'attendant', 'costard', 'canterbury', 'abhorson', 'several citizens', 'cerimon', 'varrius', 'third citizen', 'menas', 'simple', 'northumberland', 'cardinal pandulph', 'duncan', 'jeweller', 'second herald', 'jaques', 'first outlaw', 'archbishop of york', 'simonides', 'some others', 'first witch', 'sir oliver martext', 'master', 'third witch', 'bawd', 'hippolyta', 'tubal', 'leonine', 'duke orsino', 'abergavenny', 'mecaenas', 'speed', 'egyptian', 'bedford', 'player king', 'caphis', 'ghost of rivers', 'lucilius', 'diomedes', 'duchess', 'hermione', 'philo', 'second servant', 'tamora', 'hecate', 'clarence', 'gloucester', 'wall', 'albany', 'amiens', 'bigot', 'fourth citizen', 'eros', 'constable', 'biron', 'first player', 'attendants', 'of ephesus', 'pinch', 'queen isabel', 'first merchant', 'osric', 'philotus', 'phebe', 'second bandit', 'first apparition', 'biondello', 'griffith', 'sir andrew', 'third bandit', 'siward', 'thersites', 'prince', 'english herald', 'seleucus', 'second witch', 'first stranger', 'danes', 'second clown', 'archidamus', 'second attendant', 'lord', 'first ambassador', 'falstaff', 'second pirate', 'mariner', 'a patrician', 'don john', 'lepidus', 'salanio', 'robert', 'dull', 'barnardine', 'lord berkeley', 'knights', 'curtis', 'dorset', 'trebonius', 'first page', 'pyramus', 'gaoler', 'helenus', 'emilia', 'mariana', 'john of gaunt', 'cranmer', 'julia', 'first lady', 'pericles', 'katarina', 'cornwall', 'menecrates', 'second lord', 'martius', 'hubert', 'some speak', 'chancellor', 'lady capulet', 'first servingman', 'le beau', 'lord mayor', 'first musician', 'panthino', 'second sailor', 'perdita', 'william page', 'boult', 'trinculo', 'alexander', 'edmund', 'first knight', 'troilus', 'of buckingham', 'caithness', 'second fisherman', 'mariners', 'scene iii', 'warwick', 'borachio', 'exeter', 'second huntsman', 'pembroke', 'mark antony', 'lady', 'first murderer', 'first senator', 'silvius', 'man', 'tyrrel', 'cambridge', 'grey', 'king philip', 'second guard', 'thaliard', 'musician', 'another', 'green', 'ely', 'mistress overdone', 'first brother', 'lord stanley', 'both murderers', 'lewis', 'all conspirators', 'priest', 'dionyza', 'sixth citizen', 'roderigo', 'second watchman', 'gregory', 'scrivener', 'portia', 'hernia', 'camillo', 'phrynia', 'first sailor', 'third goth', 'all the lords', 'flavius', 'vincentio', 'westmoreland', 'artemidorus', 'court', 'conrade', 'peter', 'second commoner', 'antiochus', 'juliet', 'fifth citizen', 'gallus', 'gobbo', 'cloten', 'erpingham', 'oswald', 'brutus', 'lucianus', 'boatswain', 'bastard', 'cornelius', 'gonzalo', 'tyrian sailor', 'gentlemen', 'prince fortinbras', 'aegeon', 'both citizens', 'claudio', 'citizens', 'hastings', 'servants', 'benedick', 'sir nathaniel', 'marullus', 'first watchman', 'abraham', 'prospero', 'blunt', 'dauphin', 'silvia', 'fabian', 'priam', 'nicholas', 'gremio', 'lady  capulet', 'lovell', 'cassio', 'luciana', 'prince henry', 'all ladies', 'titania', 'this way will i', 'touchstone', 'alonso', 'third watchman', 'antonio', 'dolabella', 'helen', 'earl of salisbury', 'fenton', 'beatrice', 'iago', 'here stand i', 'corin', 'bardolph', 'page', 'titinius', 'hostess', 'second citizen', 'vaux', 'hermia', 'thurio', 'caius lucius', 'guildford', 'first commoner', 'menteith', 'crier', 'gratiano', 'derby', 'cominius', 'proculeius', 'curio', 'ferdinand', 'metellus cimber', 'lucio', 'orleans', 'macbeth', 'essex', 'ghost of lady anne', 'lords', 'second merchant', 'all lords', 'marcius', 'bishop of ely', 'puck', 'chamberlain', 'king john', 'timon', 'margaret', 'bates', 'gentlewoman', 'mercade', 'ghost of vaughan', 'lion', 'jupiter', 'cardinal campeius', 'friar peter', 'son', 'philip', 'first lord', 'theseus', 'henry percy', 'abbot', 'first clown', 'margarelon', 'charmian', 'duke senior', 'servant', 'edgar', 'stephano', 'dion', 'of syracuse', 'juno', 'host', 'octavia', 'shallow', 'antony', 'cato', 'king lear', 'lear', 'chiron', 'jaques de boys', 'first tribune', 'octavius caesar', 'isabella', 'first citizen', 'ventidius', 'adrian', 'williams', 'shepard', 'sexton', 'sergeant', 'tranio', 'sheriff', 'antipholus', 'all', 'all the people', 'dromio of syracuse', 'myrmidons', 'salerio', 'cleopatra', 'rosalind', 'knight', 'exton', 'pandarus', 'iachimo', 'oberon', 'first officer', 'snug', 'children', 'countess', 'lucullus', 'dorcas', 'lennox', 'first soldier', 'queen', 'dogberry', 'jessica', 'second knight', 'lord ross', 'adam', 'marshal', 'first goth', 'regan', 'a player', 'lucetta', 'mercutio', 'buckingham', 'lodovico', 'second lady', 'first roman', 'lartius', 'gardener', 'king richard iii', 'daughter', 'watchman', 'nurse', 'timandra', 'haberdasher', 'cromwell', 'arthur', 'prince edward', 'balthasar', 'egeus', 'hortensius', 'joseph', 'silius', 'citizen', 'second gaoler', 'third roman', 'norfolk', 'first executioner', 'chatillon', 'steward', 'salarino', 'romeo', 'third knight', 'suffolk', 'of young princes', 'king of france', 'messala', 'montano', 'as long as you or i', 'third stranger', 'lord polonius', 'fourth soldier', 'young siward', 'lucius', 'gentleman', 'cordelia', 'ross', 'surveyor', 'titus andronicus', 'volsce', 'second brother', 'king richard ii', 'christopher', 'voltimand', 'second capulet', 'antigonus', 'friar john', 'brakenbury', 'queen elinor', 'pompey', 'robin', 'agamemnon', 'andromache', 'dromio of ephesus', 'first herald', 'ghost of hastings', 'second patrician', 'nym', 'donalbain', 'moth', 'armado', 'strato', 'quintus', 'first huntsman', 'duke frederick', 'cinna the poet', 'leonardo', 'both tribunes', 'rivers', 'aaron', 'octavius', 'a lord', 'second senator', 'william', 'marcus', 'burgundy', 'king', 'cressida', 'first gaoler', 'cleomenes', 'sands', 'fourth messenger', 'macmorris', 'valeria', 'first conspirator', 'capulet', 'merchant', 'both', 'cleon', 'nestor', 'adriano de armado', 'canidius', 'second officer', 'alice', 'florizel', 'fairy', 'sir stephen scroop', 'bushy', 'angelo', 'friar laurence', 'euphronius', 'pisanio', 'vaughan', 'banquo', 'captain', 'lieutenant', 'cymbeline', 'quince', 'second conspirator', 'third messenger', 'messenger', 'leontes', 'hero', 'shylock', 'polixenes', 'titus', 'ophelia', 'boy', 'catesby', 'first pirate', 'morocco', 'lovel', 'senator', 'lysander', 'provost', 'patroclus', 'antipholus of syracuse', 'goneril', 'outlaws', 'capucius', 'cupid', 'dennis', 'malvolio', 'demetrius', 'popilius', 'friar thomas', 'hector', 'third outlaw', 'lady anne', 'queen margaret', 'third pirate', 'pindarus', 'all servants', 'cardinal', 'jamy', 'york', 'menenius', 'pursuivant', 'sir toby belch', 'first fisherman', 'desdemona', 'deiphobus', 'sempronius', 'pomphey', 'bottom', 'fleance', 'forester', 'princess', 'calchas', 'french herald', 'reynaldo', 'thaisa', 'froth'}

In [13]:
their_speakers = set(female_characters_df.character)
print('Female characters \n')
print(their_speakers)

Female characters

{'emilia', 'helenus', 'mistress quickly', 'mariana', 'queen eleanor', 'julia', 'queen katherine', 'first lady', 'blanche', 'katharine', 'cleopatra', 'hecat', 'rosalind', 'olivia', 'lady capulet', 'all the ladies', 'innogen', 'countess', 'dorcas', 'perdita', 'queen', 'francisca', 'viola', 'jessica', 'lady montague', 'maria', 'regan', 'anne', 'lucetta', 'audrey', 'mistress ford and mistress page', 'ursula', 'second lady', 'lady', 'ceres', 'gonerill', 'cassandra', 'lady faulconbridge', 'daughter', 'widow and mariana', 'adriana', 'nurse', 'mistress page', 'rosaline', 'duchess of gloucester', 'constance', 'mistress quickly as queen of fairies', 'iris', 'timandra', 'mother', 'patience', 'lavinia', 'mistress overdone', 'all witches', 'virgilia and valeria', 'queen elizabeth', 'duchess of york', 'dionyza', 'all queens', 'helena', 'lady grey', 'jourdain', 'portia', 'old lady', 'courtesan', 'phrynia', "queen's lady", 'mopsa', 'widow', 'luce', 'cordelia', 'mistress ford', 'nell', 'woman', 'juliet', 'phrynia and timandra', 'diana', 'andromache', 'miranda', 'third queen', 'volumnia', 'nerissa', 'celia', 'marina', 'ghost of anne', 'silvia', 'bianca', 'calphurnia', 'cressida', 'luciana', 'valeria', 'titania', 'wife', 'girl', 'helen', 'beatrice', 'first witch', 'alice', 'third witch', 'bawd', 'hippolyta', 'jaquenetta', 'hostess', 'bona', 'hermia', 'second queen', 'duchess', 'hermione', 'queen elizabeth and duchess of york', 'tamora', 'hero', 'first queen', 'lychorida', 'paulina', 'ophelia', 'queen isabel', 'margaret', 'lady northumberland', 'phebe', 'gentlewoman', 'ladies', 'virgilia', 'doll', 'queen margaret', 'second witch', 'katherina', 'charmian', 'katherine', 'lady percy', 'octavia', 'juno', 'iras', 'pucelle', 'desdemona', 'isabella', 'abbess', 'princess', 'thaisa'}

Add 'female' column to the dataset

In [14]:
speeches_df['female'] = speeches_df.apply(lambda r : r['speaker'] in their_speakers, axis=1)

Some speeaches are by a group of people

In [15]:
speeches_df[speeches_df.speaker.str.startswith('all')]

,act,genre,play_name,scene,scene_name,speaker,speech_number,speech_text,female
268,2,Comedy,All's Well That Ends Well,3,Paris. The KING's palace.,all,34,"We understand it, and thank heaven for you.",False
587,4,Comedy,All's Well That Ends Well,1,Without the Florentine camp.,all,26,"Cargo, cargo, cargo, villiando par corbo, cargo.",False
3062,5,Comedy,Cymbeline,4,A British prison.,all,19,"Thanks, Jupiter!",False
5692,3,Comedy,TheMerry Wives of Windsor,2,A street.,all,33,Have with you to see this monster.\nExeunt,False
6504,3,Comedy,The Merchant of Venice,2,Belmont. A room in PORTIA'S house.,all,10,"Ding, dong, bell.",False
6904,1,Comedy,A Midsummer Night's Dream,2,Athens. QUINCE'S house.,all,32,"That would hang us, every mother's son.",False
7030,3,Comedy,A Midsummer Night's Dream,1,The wood. TITANIA lying asleep.,all,55,Where shall we go?,False
8374,1,Comedy,"Pericles, Prince of Tyre",4,Tarsus. A room in the Governor's house.,all,19,The gods of Greece protect you!\nAnd we'll pra...,False
8508,2,Comedy,"Pericles, Prince of Tyre",4,Tyre. A room in the Governor's house.,all,14,"Live, noble Helicane!",False
8993,0,Comedy,Taming of the Shrew,2,A bedchamber in the Lord's house.,all,24,Amen.,False
11273,4,Comedy,Troilus and Cressida,5,The Grecian camp. Lists set out.,all,40,The Trojans' trumpet.,False
11606,5,Comedy,Troilus and Cressida,10,Another part of the plains.,all,3,Hector! the gods forbid!,False
14875,5,History,Henry V,2,France. A royal palace.,all,78,Amen!,False
14878,5,History,Henry V,2,France. A royal palace.,all,81,Amen!,False
15532,5,History,Henry VIII,3,The Council-Chamber.,all,31,We are.,False
16245,1,History,Richard II,4,The court.,all,14,Amen.\nExeunt\n\n\nShakespeare homepage \n ...,False
17732,5,History,Richard III,3,Bosworth Field.,all,42,"[To RICHMOND]\nAwake, and think our wrongs in ...",False
18488,3,Tragedy,Antony and Cleopatra,11,Alexandria. CLEOPATRA's palace.,all,2,Fly! not we.,False
18607,4,Tragedy,Antony and Cleopatra,2,Alexandria. CLEOPATRA's palace.,all,11,The gods forbid!,False
18634,4,Tragedy,Antony and Cleopatra,3,The same. Before the palace.,all,21,[Speaking together] How now!\nHow now! do you...,False
18638,4,Tragedy,Antony and Cleopatra,3,The same. Before the palace.,all,25,Content. 'Tis strange.\nExeunt,False
18651,4,Tragedy,Antony and Cleopatra,4,The same. A room in the palace.,all,13,"Good morrow, general.",False
18756,4,Tragedy,Antony and Cleopatra,14,The same. Another room.,all,36,"Alas, and woe!",False
18775,4,Tragedy,Antony and Cleopatra,14,The same. Another room.,all,55,Most heavy day!,False
18788,4,Tragedy,Antony and Cleopatra,15,The same. A monument.,all,12,A heavy sight!,False
18825,5,Tragedy,Antony and Cleopatra,1,Alexandria. OCTAVIUS CAESAR's camp.,all,21,Dolabella!,False
18960,1,Tragedy,Coriolanus,1,Rome. A street.,all,2,"Speak, speak.",False
18962,1,Tragedy,Coriolanus,1,Rome. A street.,all,4,Resolved. resolved.,False
18964,1,Tragedy,Coriolanus,1,Rome. A street.,all,6,"We know't, we know't.",False
18966,1,Tragedy,Coriolanus,1,Rome. A street.,all,8,"No more talking on't; let it be done: away, away!",False
...,...,...,...,...,...,...,...,...,...
21660,3,Tragedy,Julius Caesar,2,The Forum.,all,75,Most true. The will! Let's stay and hear the w...,False
21665,3,Tragedy,Julius Caesar,2,The Forum.,all,80,"Peace, ho!",False
23094,1,Tragedy,Macbeth,1,A desert place.,all,10,"Fair is foul, and foul is fair:\nHover through...",False
23124,1,Tragedy,Macbeth,3,A heath near Forres.,all,12,"The weird sisters, hand in hand,\nPosters of t...",False
23299,2,Tragedy,Macbeth,3,The same.,all,50,So all.,False
23301,2,Tragedy,Macbeth,3,The same.,all,52,Well contented.\nExeunt all but Malcolm and Do...,False
23458,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,5,"Double, double toil and trouble;\nFire burn, a...",False
23460,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,7,"Double, double toil and trouble;\nFire burn an...",False
23462,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,9,"Double, double toil and trouble;\nFire burn an...",False
23467,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,14,A deed without a name.,False
23475,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,22,"Come, high or low;\nThyself and office deftly ...",False
23485,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,32,"Listen, but speak not to't.",False
23488,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,35,Seek to know no more.,False
23493,4,Tragedy,Macbeth,1,"A cavern. In the middle, a boiling cauldron.",all,40,"Show his eyes, and grieve his heart;\nCome lik...",False
23733,5,Tragedy,Macbeth,8,Another part of the field.,all,22,"Hail, King of Scotland!\nFlourish",False
24024,2,Tragedy,Othello,3,A hall in the castle.,all,39,Excellent well.,False
24849,5,Tragedy,Othello,2,A bedchamber in the castle: DESDEMONA in bed a...,all,111,O heavens forfend!,False
25949,1,Tragedy,Timon of Athens,2,A banqueting-room in Timon's house.,all ladies,41,"Most thankfully, my lord.\nExeunt Cupid and La...",False
25959,1,Tragedy,Timon of Athens,2,A banqueting-room in Timon's house.,all,51,So are we all.\nEnter a Servant,False
25976,1,Tragedy,Timon of Athens,2,A banqueting-room in Timon's house.,all lords,68,"O, none so welcome.",False
26022,2,Tragedy,Timon of Athens,2,The same. A hall in Timon's house.,all servants,26,"What are we, Apemantus?",False
26024,2,Tragedy,Timon of Athens,2,The same. A hall in Timon's house.,all servants,28,Why?,False
26027,2,Tragedy,Timon of Athens,2,The same. A hall in Timon's house.,all servants,31,"Gramercies, good fool: how does your mistress?",False
26041,2,Tragedy,Timon of Athens,2,The same. A hall in Timon's house.,all servants,45,Ay; would they served us!,False
26044,2,Tragedy,Timon of Athens,2,The same. A hall in Timon's house.,all servants,48,"Ay, fool.",False
26050,2,Tragedy,Timon of Athens,2,The same. A hall in Timon's house.,all servants,54,"Aside, aside; here comes Lord Timon.\nRe-enter...",False
26614,1,Tragedy,Titus Andronicus,1,Rome. Before the Capitol.,all,90,[Kneeling] No man shed tears for noble Mutius...,False
26975,5,Tragedy,Titus Andronicus,1,Plains near Rome.,all the goths,3,"And as he saith, so say we all with him.",False
27080,5,Tragedy,Titus Andronicus,3,Court of TITUS's house. A banquet set out.,all,33,"Lucius, all hail, Rome's royal emperor!",False
27082,5,Tragedy,Titus Andronicus,3,Court of TITUS's house. A banquet set out.,all,35,"Lucius, all hail, Rome's gracious governor!",False

We remove them from the data

In [16]:
speeches_df.drop(speeches_df[speeches_df.speaker.str.startswith('all')].index, inplace = True)

In [17]:
speeches_df.sample(n = 10)

,act,genre,play_name,scene,scene_name,speaker,speech_number,speech_text,female
4426,2,Comedy,Measure for Measure,1,A hall In ANGELO's house.,escalus,23,Dost thou detest her therefore?,False
6325,2,Comedy,The Merchant of Venice,2,Venice. A street.,gobbo,24,"Her name is Margery, indeed: I'll be sworn, if...",False
5747,3,Comedy,TheMerry Wives of Windsor,3,A room in FORD'S house.,mistress ford,55,"Why, what have you to do whither they bear it?...",True
11767,1,Comedy,Twelfth Night,5,OLIVIA'S house.,olivia,47,"By mine honour, half drunk. What is he at the ...",True
7403,1,Comedy,Much Ado About Nothing,1,Before LEONATO'S house.,claudio,80,"If this were so, so were it uttered.",False
19139,1,Tragedy,Coriolanus,6,Near the camp of Cominius.,cominius,3,"Though thou speak'st truth,\nMethinks thou spe...",False
24324,3,Tragedy,Othello,4,Before the castle.,desdemona,49,"I say, it is not lost.",True
21645,3,Tragedy,Julius Caesar,2,The Forum.,third citizen,60,O woful day!,False
11655,1,Comedy,Twelfth Night,3,OLIVIA'S house.,sir toby belch,15,"By this hand, they are scoundrels and subtract...",False
5275,1,Comedy,TheMerry Wives of Windsor,1,Windsor. Before PAGE's house.,shallow,111,Here comes fair Mistress Anne.\nRe-enter ANNE ...,False

The data is imbalanced we will have to take it into account when fitting the model.

In [18]:
speeches_df.groupby(['female']).size()

female
False    22275
True      4728
dtype: int64

In [19]:
# 0 - male, 1 - female
labels = [ 1 if f else 0 for f in speeches_df.female.values ]

In [20]:
features = speeches_df['speech_text'].values

Put 10% of data aside for testing

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
    features, labels, stratify = labels, test_size = 0.10, random_state = 100
)

In [22]:
print('Train data shape', X_train.shape)
print('Test data shape', X_test.shape)

Train data shape (24302,)
Test data shape (2701,)

We train a classifier to recoginze the gender based on a single speech. This is hard!  
The general idea is to use Latent Semantic Analysis. We create features using TF-IDF and apply SVD to extract the latent relashionshps.  
We use SGD classifer with a 'hinge' loss; that is an equivalent of using Linear SVM but works faster on large datasets.

In [23]:
shutil.rmtree('pipeline', ignore_errors = True)
os.makedirs('pipeline')

pipe = Pipeline(
    memory = 'pipeline',
    steps=[
        # Create the feature space
        ('tfidf', TfidfVectorizer(stop_words='english', lowercase = True)),
        # Perform LSA on the features
        ('svd', TruncatedSVD(random_state = 100)),
        # faster than SVC but default loss is still 'hinge'
        ('clf', SGDClassifier(class_weight='balanced', verbose = 0, n_jobs = -1, max_iter = 1000))
    ]
)

param_grid = {
    'tfidf__norm': ('l1', 'l2'),
    'tfidf__use_idf': (True, False),
    'svd__n_components': (1000, 1100, 1200),
    'clf__alpha': (0.00001, 0.000001),
    'clf__penalty': ('l2', 'elasticnet'),   
}

model = GridSearchCV(
    pipe,
    param_grid = param_grid,
    cv = StratifiedKFold(random_state = 100),
    scoring = 'roc_auc',
    verbose = 1,
    n_jobs = -1)

In [24]:
model = model.fit(X_train, y_train)
print("The best parameters are %s with a score of %0.2f" % (model.best_params_, model.best_score_))

Fitting 3 folds for each of 48 candidates, totalling 144 fits

[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed: 47.4min
[Parallel(n_jobs=-1)]: Done 144 out of 144 | elapsed: 389.2min finished

The best parameters are {'svd__n_components': 1200, 'tfidf__use_idf': False, 'tfidf__norm': 'l2', 'clf__alpha': 1e-06, 'clf__penalty': 'l2'} with a score of 0.65

In [25]:
y_hat = model.predict(X_test)

In [27]:
print('Classification report for the SGD classifier')
print(classification_report(y_test, y_hat))

Classification report for the SGD classifier
             precision    recall  f1-score   support

          0       0.88      0.57      0.69      2228
          1       0.23      0.62      0.34       473

avg / total       0.76      0.58      0.63      2701

In [28]:
print('Confusion matrix for the SGD classifier')
print(confusion_matrix(y_test, y_hat))

Confusion matrix for the SGD classifier
[[1260  968]
 [ 179  294]]

What if we just use  the training set class distribution?

In [29]:
dummy = Pipeline(
    steps=[
        ('vect', CountVectorizer()), 
        ('clf', DummyClassifier(strategy='stratified', random_state=100))
    ]
)
dummy = dummy.fit(X_train, y_train)
y_dummy = dummy.predict(X_test)

In [30]:
print('Classification report for the dummy classifier')
print(classification_report(y_test, y_dummy))

Classification report for the dummy classifier
             precision    recall  f1-score   support

          0       0.83      0.84      0.83      2228
          1       0.18      0.16      0.17       473

avg / total       0.71      0.72      0.72      2701

In [31]:
print('Counfusiion matrix for the dummy classifier')
print(confusion_matrix(y_test, y_dummy))

Counfusiion matrix for the dummy classifier
[[1872  356]
 [ 396   77]]

It looks like our classifier is doing just slightly better in recognizing female characters but overall we think we've failed to achive a significant improvement over the dummy classifier. Well, it was a hard job!  
We have to conclude that it is not possible to recoginze the characters' gender just by one speech. We think it is a hard task and better results could be achieved if we used a combination of all speecheeches per character as the observations.